data/.DS_Store
raw/.DS_Store
scripts/.DS_Store
scripts/collections/.DS_Store
scripts/models/.DS_Store
scripts/templates/.DS_Store
scripts/views/.DS_Store
scripts/visualizations/.DS_Store
node_modules/*
